{% extends 'base.html' %}
{% block content %}
    <div class="span4 well">
        <div class="row">
            <div class="span1"><a href="" class="thumbnail"><img src="http://critterapp.pagodabox.com/img/user.jpg" alt=""></a></div>
            <div class="span3">
                <p><strong>{{first_name}} {{last_name}}</strong></p>
                <p><span class="label label-success">Admin</span></p>
                <span class=" badge badge-warning">8 messages</span>
            </div>
        </div>
    </div>
    <div class="span4 offset5"></div>
    <div class="span8 well">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Test</th>
                <th>Date registered</th>
                <th>Location</th>
                <th>Verbal Score</th>
                <th>Math Score</th>
                <th>Analytic Score</th>
                <th>Total Score</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.test.name }}</td>
                    <td>{{ score.test.date }}</td>
                    <td>{{ score.test.location }}</td>
                    <td>{{ score.verbal_score }}</td>
                    <td>{{ score.math_score }}</td>
                    <td>{{ score.analytic_score }}</td>
                    <td>{{ score.total_score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
